*{
  font-family: Arial, Helvetica, sans-serif;
}.container{
  position: relative;
  text-align: center;
  color: black;
}.image{
  width: 100%;
}.title{
  position: absolute;
  top: 9%;
  left: 50%;
  font-weight: bolder;
  font-size: 50px;
  transform: translate(-50%, -50%);
}.name{
  position: absolute;
  top: 30%;
  left: 50%;
  font-weight: bold;
  font-size: 30px;
  transform: translate(-50%, -50%);
}.details{
  position: absolute;
  top: 54%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 25px;
}.name_end{
  position: absolute;
  bottom: 19%;
  left: 50%;
  font-weight: 500;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 576px) {
  .title{
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .title{
    font-size: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .title{
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .title{
    font-size: 1rem;
  }
}
@media screen and (min-width: 1400px) {
  .title{
    font-size: 1rem;
  }
}